@font-face {
    font-family: "Avenir Next W04 Demi";
    src: url("https://db.onlinewebfonts.com/t/0389bdf50d5b601e5ab18443145f4e6d.eot");
    src: url("https://db.onlinewebfonts.com/t/0389bdf50d5b601e5ab18443145f4e6d.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/0389bdf50d5b601e5ab18443145f4e6d.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/0389bdf50d5b601e5ab18443145f4e6d.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/0389bdf50d5b601e5ab18443145f4e6d.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/0389bdf50d5b601e5ab18443145f4e6d.svg#Avenir Next W04 Demi")format("svg");
}


// hero area style here 
.hero_area {
    margin-bottom: 2rem;
    .container {
        &.blocks-wrapper {
            @include xl-down {
                padding: 0;
                max-width: 100%;
            }
        }
    }
    .hero_slider {
        height: 600px;
        @include md-up {
            height: 750px;
        }
        @include lg-up {
            height: 850px;
        }
        .swiper-slide {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
            position: relative;
            &::after {
                content: "";
                --shade-start: 0%;
                position: absolute;
                inset: 0;
                background: linear-gradient(180deg, transparent var(--shade-start), rgba(0, 0, 0, 0.8) 96%);
                pointer-events: none;
                z-index: 1;
                @include md-up {
                    --shade-start: 60%;
                }
            }
        }
        .slider-content {
            padding-top: 10rem;
            padding-bottom: 15rem;
            max-width: 500px;
            position: relative;
            z-index: 100;
            padding-left: 2px;
            padding-right: 2px;
            @include md-up {
                padding-left: 0;
                padding-right: 0;
                padding-top: 12.5rem;
            }
            @include lg-up {
                padding-top: 16rem;
            }
            .title {
                font-size: 2.25rem;
                color: var(--mr-color-white);
                text-shadow: 0 2px 4px rgba(0, 0, 0, .1);
                line-height: 1;
                font-weight: 700;
                margin-bottom: 1.5rem;
                @include sm-up {
                    font-size: 2.5rem;
                }
                @include lg-up {
                    font-size: 3.8rem;
                }
            }
            .buttons {
                display: block;
                max-width: 350px;
                overflow: hidden;
                @include lg-up {
                    max-width: 360px;
                }
                a {
                    display: inline-block;
                    & + a {
                        margin-top: 1.8rem;
                    }
                    i {
                        position: relative;
                        top: 2px;
                        padding-left: 8px;
                    }
                }
            }
        }
        .swiper-pagination {
            background: rgba(69, 69, 69, .7);
            padding: 1.5rem 1.25rem;
            display: flex;
            flex-direction: row;
            gap: 1.375rem;
            right: 0;
            bottom: -32px;
            top: auto;
            @include md-up {
                flex-direction: column;
                bottom: auto;
                padding: 1rem;
                top: 50%;
                transform: translateY(-50%);
            }
            @include lg-up {
                top: 46%;
            }
            @include xxl-up {
                top: 50%;
                padding: 1rem 1.25rem;
            }
            .swiper-pagination-bullet {
                position: relative;
                width: 1rem;
                height: 1rem;
                border: 2px solid var(--mr-color-white);
                background-color: #262626;
                opacity: 1;
                transition: all .25s ease;
                border-radius: 50%;
                margin: 0;
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    width: .3125rem;
                    height: .3125rem;
                    background-color: var(--mr-color-white);
                    border-radius: 50%;
                    transition: all .25s ease;
                }
            }
            .swiper-pagination-bullet-active {
                background-color: #fff;
                border-color: rgba(0, 0, 0, 0);
                &::after {
                    background-color: var(--mr-color-secondary);
                }
            }
        }
    }

    // hero blocks content
    .hero-blocks {
        margin-top: 0;
        position: relative;
        z-index: 50;
        flex-wrap: wrap;
        @include md-up {
            margin-top: -12.5rem;
        }
        @include lg-up {
            margin-top: -17.75rem;
            clip-path: polygon(50% 0%, 100% 0, 100% 99%, 0 100%, 0% 38%);
        }
    }
    .blocks-content {
        display: block;
        background-color: var(--mr-color-black-300);
        padding: 24px;
        @include md-up {
            padding: 30px 48px 28px 40px;
            flex: 0 0 510px;
        }
        @include lg-up {
            flex: 0 0 773px;
        }
        .blocks-title {
            font-size: 24px;
            color: var(--mr-color-white);
            line-height: 1.2;
            @include lg-up {
                font-size: 2.125rem;
            }
        }
        .button-group {
            margin-top: 1.125rem;
            display: flex;
            gap: .75rem;
            flex-direction: column;
            align-items: flex-start;
            @include md-up {
                align-items: center;
                flex-direction: row;
                gap: 1.125rem;
            }
        }
    }
    .blocks-box {
        display: block;
        background-color: var(--mr-color-primary);
        padding-top: 1.5rem;
        width: 100%;
        @include md-up {
            flex: 1;
            padding-top: 1.875rem;
        } 
        .box-title {
            color: var(--mr-color-white);
            font-size: 24px;
            padding: 0 1.5rem .75rem;
            line-height: 1.2;
            @include lg-up {
                font-size: 2.125rem;
                padding: 0 2.25rem;
            }
        }
        .text {
            font-size: 1rem;
            line-height: 1.7;
            padding: 0 1.5rem 1.125rem;
            color: var(--mr-color-white);
            display: none;
            @include md-up {
                display: block;
            }
            @include lg-up {
                padding: 0 2.25rem 1.125rem;
            }
        }
        .box-buttons {
            a {
                color: var(--mr-color-white);
                padding: 1rem 1.5rem;
                font-size: 1.125rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                line-height: 1;
                @include lg-up {
                    font-size: 1.3125rem;
                    padding: 1.625rem 2.25rem;
                }
                &::before {
                    position: absolute;
                    content: '';
                    top: -2px;
                    left: 2.25rem;
                    right: 2.25rem;
                    height: 1px;
                    background: rgba(255, 255, 255, .45);
                    display: none;
                    @include md-up {
                        display: block;
                        left: 1.5rem;
                        right: 1.5rem;
                    }
                    @include lg-up {
                        left: 2.25rem;
                        right: 2.25rem;
                    }
                }
                i {
                    width: 1rem;
                    height: 1rem;
                    margin-right: .75rem;
                    font-size: 1rem;
                }
                & + a {
                    // border-top: 1px solid rgba(255, 255, 255, .45);
                    position: relative;
                    &::after {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        right: 0;
                        margin: 0 1.5rem 0 1.5rem;
                        background: rgba(255, 255, 255, 0.45);
                        width: 89%;
                        height: 1px;
                        padding: 0;
                        @include md-up {
                            content: none;
                        }
                    }
                    @include md-up {
                        border: 0;
                    }
                }
            }
        }
    }
    // scroll down button
.badge {
    --badge-size: 80px;
    --badge-color: var(--black);

    display: none;
    justify-content: center;
    align-items: center;

    width: var(--badge-size);
    height: var(--badge-size);

    background: var(--black);
    border-radius: 100%;
    box-shadow: inset 0 0 0 0.9rem var(--badge-color);
    animation: identifier 20s linear infinite;
    position: absolute;
    top: -125px;
    right: 1rem;
    z-index: 99;
    color: var(--mr-color-white);
    @include xl-up {
        display: flex;
        right: 4rem;
    }
    @include xxl-up {
        right: 1rem;
    }
}

.badge__emoji {
    display: block;
    margin: 0;
    animation: identifier 20s linear infinite;
    animation-direction: reverse;
    transition: all 0.3s;
    font-size: 25px;

    &:hover {
        opacity: 0.8;
        transform: scale(1.2);
    }
}

.badge__char {
    --char-font-weight: 600;
    --char-font-size: 10px;
    // --char-width: 10px;
    --char-font-family: "Arial", sans-serif;

    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - var(--char-width) / 2);
    height: calc(var(--badge-size) / 2);
    width: var(--char-width);
    background-repeat: round;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    font-weight: var(--char-font-weight);
    font-size: var(--char-font-size);
    color: var(--white);
    font-family: var(--char-font-family);
    transform-origin: bottom center;
    transform: rotate(var(--char-rotate));
}

@-webkit-keyframes identifier {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@keyframes identifier {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

}


// study area style here
.study_area {
    margin-top: 48px;
    .container {
        @include md-down {
            max-width: 100%;
            padding: 0 20px;
        }
        @include sm-down {
            padding: 0;
        }
    }
    @include lg-up {
        margin-top: 80px;
    }
    &.spacing {
        margin-top: 48px;
        @include lg-up {
            margin-top: 120px;
        }
    }
    .section-title {
        .title {
            @include sm-up {
                padding: 0;
            }
        }
    }
}

// service area style here 
.service_area {
    margin-top: 48px;
    @include lg-up {
        margin-top: 120px;
    }
    .service_card {
        display: grid;
        grid-template-columns: 1fr;
        @include md-up {
            grid-template-columns: 185px 1fr 1fr 1fr;
        }
        @include lg-up {
            grid-template-columns: 300px 1fr 1fr 1fr;
        }
    }
    .card-item {
        transition: all .3s ease;
        @include md-up {
            padding: 8px 16px 8px 0;
        }
        &.border-left {
            padding: 24px 0;
            border-bottom: 1px solid #e3e3e3;
            @include md-up {
                border-left: 1px solid #e3e3e3;
                padding: 8px 16px;
                border-bottom: 0;
            }
        }
        .title {
            font-size: 24px;
            padding-bottom: 1rem;
            line-height: 1.2;
            color: var(--mr-color-black);
            border-bottom: 1px solid #e3e3e3;
            @include md-up {
                border-bottom: 0;
            }
            &.primary-color {
                color: var(--mr-color-primary);
                border: 0;
            }
            @include lg-up {
                margin-bottom: 1rem;
                border: 0;
                font-size: 28px;
            }
        }
        .text {
            color: var(--mr-color-secondary);
            font-size: 15px;
        }
        .card-link {
            margin-top: 16px;
            display: flex;
            align-items: center;
            gap: 1rem;
            @include md-up {
                margin-top: 50px;
                justify-content: space-between;
            }
            span {
                font-size: 18px;
                color: var(--mr-color-black);
                transition: all .3s ease;
                @include lg-up {
                    font-size: 21px;
                }
            }
            i {
                width: 16px;
                height: 16px;
                font-size: 16px;
                font-weight: 600;
            }
        }
        &:hover {
            .card-link {
                span {
                    text-decoration: underline;
                }
            }
        }
    }
}

// blog area style here
.blog-area {
    margin: 48px 0;
    position: relative;
    @include lg-up {
        margin: 120px 0;
    }
    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 100vw;
        height: 100%;
        top: 36px;
        left: 31%;
        z-index: -1;
        background-color: #f8f8f8;
        @include lg-up {
            height: 460px;
        }
    }
    .section-title {
        .title {
            padding-left: 0;
            margin-bottom: 20px;
            @include lg-up {
                margin-bottom: 2rem;
            }
        }
    }
    .blog-image {
        display: block;
        margin-bottom: 1rem;
        img {
            width: 100%;
        }
    }
    .blogs_wrapper {
        position: relative;
        .blog-button {
            display: inline-block;
            margin-top: 24px;
            .blog-link {
                border:2px solid #e3e3e3;
                color: var(--mr-color-black);
                padding: 12px 14px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                transition: all .3s ease;
                gap: .5rem;
                font-size: 14px;
                @include lg-up {
                    font-size: 1rem;
                    padding: 10px 24px;
                }
                &:hover {
                    background-color: #e3e3e3;
                    span {
                        text-decoration: underline;
                    }
                }
            }
        }
        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            bottom: 0;
            left: auto;
            right: 0;
            margin: 0 auto;
            top: auto;
            width: 48px;
            height: 48px;
            background: #919191;
        }

        .swiper-button-prev {
        right: 52px;
            &::after {
                content: '\f106';
                font-family: var(--mr-fontAwesome);
                font-size: 20px;
                color: var(--mr-color-white);
            }
        }

        .swiper-button-next {
            &::after {
                content: '\f107';
                font-family: var(--mr-fontAwesome);
                font-size: 20px;
                color: var(--mr-color-white);
            }
        }
    }
    .blog-content {
        .highlight {
            font-size: 15px;
            color: var(--mr-color-primary);
            display: block;
            margin-bottom: .5rem;
            @include lg-up {
                font-size: 18px;
                margin-bottom: 0;
            }
        }
        .blog-link {
            font-size: 18px;
            line-height: 1.3;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: var(--mr-color-black);
            transition: all .3s ease;
            margin-bottom: .5rem;
            @include lg-up {
                font-size: 21px;
                margin-bottom: 0;
            }
        }
        .date {
            font-size: 14px;
            line-height: 1.5;
            color: var(--mr-color-secondary);
            display: inline-block;
            position: relative;
            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: -12px;
                left: 0;
                height: 1px;
                width: 40px;
                background-color: #e3e3e3;
                z-index: -1;
            }
        }
    }

    .blog-list-slider {
        display: flex;
        flex-direction: column;
        .swiper-wrapper {
            height: 373px;
        }
    }
    .single_blog {
        display: flex;
        gap: 12px;
        padding-bottom: 12px 0;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            background: #e3e3e3;
            top: -12px;
            left: 0;
            right: 0;
        }
        .blog-image {
            flex: 0 0 80px;
            margin-bottom: 0;
            img {
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            @include lg-up {
                flex: 0 0 140px;
            }
        }

        .blog-content {
            flex: 1;
            .date {
                &::after {
                    content: none;
                }
            }
        }
    }
    .single-blog {
        .highlight {
            margin: 0;
        }
        .blog-link {
            margin: 0;
        }
    }
    .single-blog, .single_blog {
        transition: all .3s ease;
        margin-bottom: 48px;
        @include lg-up {
            margin-bottom: 0;
        }
        &:hover {
            .blog-link {
                text-decoration: underline;
            }
        }
    }

    .blog-list {
        .blog-button {
            display: inline-block;
            .blog-link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 24px;
                border: 2px solid #e3e3e3;
                gap: 8px;
                span {
                    font-size: 1rem;
                    color: var(--mr-color-black);
                }
                i {
                    width: 16px;
                    height: 16px;
                    font-size: 16px;
                    font-weight: 600;
                }
                &:hover {
                    background-color: #e3e3e3;
                    span {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

// contact area style here 
.contact-area {
    margin-bottom: 80px;
    @include md-up {
        margin-bottom: 48px;
    }
    .section-title {
        .title {
            padding-left: 0;
        }
    }
    @include md-up {
        margin-bottom: 120px;
    }
    .contact-wrapper {
        padding: 0;
        @include lg-up {
            padding: 0 100px;
        }
    }
    .section-title {
        @include lg-up {
            padding-bottom: 15px;
        }
        .title {
            margin-bottom: 1rem;
        }
    }

    .action-button {
        margin: 40px 0;
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 24px;
            transform: translateY(100%) translateX(-50vw);
            margin-left: 50%;
            width: 200vw;
            height: 1px;
            background-color: #e3e3e3;
            z-index: -1;
            @include lg-up {
                top: 33px;
            }
        }
        .contact_btn {
            display: inline-block;
        }
    }

    .contact-metas {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        @include md-up {
            grid-template-columns: 1fr 1fr;
            gap: 0;
            padding-top: 22px;
        }
        .single-meta {
            strong {
                line-height: 1.3;
                margin-bottom: 10px;
                display: block;
                color: var(--mr-color-black);
                font-size: 14px;
                @include lg-up {
                    font-size: 1rem;
                }
            }
            p {
                font-size: 14px;
                line-height: 1.5;
                color: var(--mr-color-secondary);
                a {
                    font-size: 14px;
                    line-height: 1.5;
                    color: var(--mr-color-secondary);
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    max-width: 150px;
                    span {
                        text-decoration: underline;
                    }
                    i {
                        width: 1rem;
                        height: 1rem;
                        font-size: 1rem;
                    }
                    &:hover {
                        span {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}